<!doctype html>

<html lang="en">
  <head>
    <title>Invochain-app</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style media="screen">
        body{
          background-color: <%= colour%>;
        }
        h1{
          color : black;
        }
        div{
          border: white 4px solid;
          margin-top : 100px;
        }
    </style>
  </head>
  <body>
<div class="text-center">
    <a href="/" class="btn btn-default"> <h1>BULB SWITCH <%= switchstate%></h1> </a>
</div>


  </body>
</html>
